language: python
python:
  - 3.8
  - 3.7
  - 3.6
  - 3.5
  - 2.7
dist: xenial
jobs:
  include:
    #Ubuntu Bionic builds
    - name: "Python 3.8 on Ubuntu bionic"
      dist: bionic
      python: 3.8
    - name: "Python 3.7 on Ubuntu bionic"
      dist: bionic
      python: 3.7
    - name: "Python 3.6 on Ubuntu bionic"
      dist: bionic
      python: 3.6
    - name: "Python 3.5 on Ubuntu bionic"
      dist: bionic
      python: 3.5
    - name: "Python 2.7 on Ubuntu bionic"
      dist: bionic
      python: 2.7

      #Ubuntu Trusty builds
    - name: "Python 3.6 on Ubuntu trusty"
      dist: trusty
      python: 3.6
    - name: "Python 3.5 on Ubuntu trusty"
      dist: trusty
      python: 3.5
    - name: "Python 2.7 on Ubuntu trusty"
      dist: trusty
      python: 2.7

      #Mac OSX builds
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python ??? from Xcode 11.6 on macOS"
      os: osx
      osx_image: xcode11.6  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python ??? from Xcode 12 on macOS"
      os: osx
      osx_image: xcode12  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python ??? from Xcode 8.3 on macOS"
      os: osx
      osx_image: xcode8.3  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python ??? from Xcode 10.1 on macOS"
      os: osx
      osx_image: xcode10.1  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python ??? from Xcode 9.4 on macOS"
      os: osx
      osx_image: xcode9.4  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      install:
        - pip3 install .
        - pip3 install -U pytest

  allow_failures:
    - python: 3.5
    - python: 2.7
    - name: "Python 3.6 on Ubuntu trusty"


install:
 - pip install .
script:
 - pytest