language: python
python:
  - 3.8
  - 3.7
  - 3.6
  - 3.5
  - 2.7
dist: xenial
jobs:
  include:
    #Ubuntu Bionic builds
    - name: "Python 3.8 on Ubuntu bionic"
      dist: bionic
      python: 3.8
    - name: "Python 3.7 on Ubuntu bionic"
      dist: bionic
      python: 3.7
    - name: "Python 3.6 on Ubuntu bionic"
      dist: bionic
      python: 3.6
    - name: "Python 3.5 on Ubuntu bionic"
      dist: bionic
      python: 3.5
    - name: "Python 2.7 on Ubuntu bionic"
      dist: bionic
      python: 2.7

      #Ubuntu Trusty builds
    - name: "Python 3.6 on Ubuntu trusty"
      dist: trusty
      python: 3.6
    - name: "Python 3.5 on Ubuntu trusty"
      dist: trusty
      python: 3.5
    - name: "Python 2.7 on Ubuntu trusty"
      dist: trusty
      python: 2.7

      #Mac OSX builds
    - name: "Python 3.8.5 on macOS"
      os: osx
      osx_image: xcode12
      language: shell
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python 3.7.7 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python 3.7.5 on macOS"
      os: osx
      osx_image: xcode10.1
      language: shell
      install:
        - pip3 install .
        - pip3 install -U pytest
    - name: "Python ??? from Xcode 9.3 on macOS"
      os: osx
      osx_image: xcode9.3
      language: shell
      install:
        - pip install . || pip3 install .
        - pip install -U pytest || pip3 install -U pytest
    - name: "Python ??? from Xcode 9.2 on macOS"
      os: osx
      osx_image: xcode9.2
      language: shell
      install:
        - pip install . || pip3 install .
        - pip install -U pytest || pip3 install -U pytest
    - name: "Python ??? from Xcode 9.1 on macOS"
      os: osx
      osx_image: xcode9.1
      language: shell
      install:
        - pip install . || pip3 install .
        - pip install -U pytest || pip3 install -U pytest
    - name: "Python ??? from Xcode 9 on macOS"
      os: osx
      osx_image: xcode9
      language: shell
      install:
        - pip install .
        - pip install -U pytest

  allow_failures:
    - python: 3.5
    - python: 2.7
    - name: "Python 3.6 on Ubuntu trusty"


install:
 - pip install .
script:
 - pytest