language: python
python:
  - 3.8
  - 3.7
  - 3.6
  - 3.5
  - 2.7
jobs:
  include:
    #Ubuntu Bionic builds
    - name: "Python 3.8 on Ubuntu bionic"
      dist: bionic
      python: 3.8
    - name: "Python 3.7 on Ubuntu bionic"
      dist: bionic
      python: 3.7
    - name: "Python 3.6 on Ubuntu bionic"
      dist: bionic
      python: 3.6
    - name: "Python 3.5 on Ubuntu bionic"
      dist: bionic
      python: 3.5
    - name: "Python 2.7 on Ubuntu bionic"
      dist: bionic
      python: 2.7

      #Ubuntu Trusty builds
    - name: "Python 3.6 on Ubuntu trusty"
      dist: trusty
      python: 3.6
    - name: "Python 3.5 on Ubuntu trusty"
      dist: trusty
      python: 3.5
    - name: "Python 2.7 on Ubuntu trusty"
      dist: trusty
      python: 2.7
  allow_failures:
    - python: 3.5
    - python: 2.7
    - name: "Python 3.6 on Ubuntu trusty"


install:
 - pip install .
script:
 - pytest